<div>
    <div class="div--header">
    <mat-icon > local_dining</mat-icon>
    <mat-icon > local_cafe</mat-icon>
    <mat-icon > fastfood</mat-icon>
    <mat-icon > local_pizza</mat-icon>
    <mat-icon > restaurant</mat-icon>
</div>
    <h1>
        A thoughtful way to support family and friends
    </h1>
    <mat-icon color="accent">favorite_border</mat-icon>
    <button  mat-button color="accent" (click)="onButtonClick()">Arrange a meal chain now</button>
    <mat-icon color="accent">favorite_border</mat-icon>
<div class="div--footer">
    <mat-icon > local_dining</mat-icon>
    <mat-icon > local_cafe</mat-icon>
    <mat-icon > fastfood</mat-icon>
    <mat-icon > local_pizza</mat-icon>
    <mat-icon > restaurant</mat-icon>
</div>
</div>